.Score{
	-fx-font-family:'DSEG14 Modern-Regular';
	-fx-font-size: 200px;
	-fx-text-fill: #c62828;
}

.Third{
	-fx-font-family: 'DSEG14 Modern-Regular';
	-fx-font-size: 300px;
	-fx-text-fill: #c62828;
	
}

.Time{
	-fx-font-family:'DSEG14 Modern-Regular';
	-fx-font-size: 200px;
	-fx-text-fill: #c62828;
}

.Background{
	-fx-background-color:#212121; 
}